<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <div class="d-flex">

        <!-- Sidebar -->
        <div class="bg-dark text-white p-3 vh-100" style="width:250px;">
            <h4 class="text-center mb-4">Admin Panel</h4>

            <ul class="nav flex-column">

                <li class="nav-item mb-2">
                    <a class="nav-link text-white" href="/admin/dashboard">
                        📊 Dashboard
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" href="/admin/AddCategory">
                        <span style="font-weight:bold;">+</span> Add Category
                    </a>
                </li>
               

                <li class="nav-item mb-2">
                    <a class="nav-link text-white" href="/admin/AddProduct">
                        🛒 Add Product
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <a class="nav-link text-danger" href="/admin/logout">
                        🚪 Logout
                    </a>
                </li>

            </ul>
        </div>

        <!-- Main Content -->
        <div class="flex-grow-1 p-4">
            @RenderBody()

        </div>

    </div>

  

</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function(){

    })
</script>