USE [master]
GO
/****** Object:  Database [ProjectApi]    Script Date: 3/7/2026 4:40:58 PM ******/
CREATE DATABASE [ProjectApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectApi]
GO
/****** Object:  Table [dbo].[category]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
	[imagepath] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](100) NULL,
	[price] [varchar](100) NULL,
	[imagepath] [varchar](100) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [imagepath]) VALUES (4, N'Electronic', N'/content/images/classes of electronics.jpg')
INSERT [dbo].[category] ([category_id], [category_name], [imagepath]) VALUES (5, N'Books', N'/content/images/BookCategory.jfif')
INSERT [dbo].[category] ([category_id], [category_name], [imagepath]) VALUES (7, N'Sports', N'/content/images/SportsCategory.jfif')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
INSERT [dbo].[login] ([email], [password], [role]) VALUES (N'sandeepyadavji630@gmail.com', N'123456', N'user')
INSERT [dbo].[login] ([email], [password], [role]) VALUES (N'sandeepyadavji630@gmail.com', N'123', N'user')
INSERT [dbo].[login] ([email], [password], [role]) VALUES (N'admin@123.com', N'123', N'admin')
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [product_name], [price], [imagepath], [category_id]) VALUES (6, N' The life of Book', N'200', N'/content/products/a9d275cd-843c-4786-a34e-fa221c98182e.jfif', 5)
INSERT [dbo].[product] ([product_id], [product_name], [price], [imagepath], [category_id]) VALUES (10, N'TV', N'23000', N'/content/products/1624bc45-7627-4b2e-b852-a864d63bdd91.jfif', 4)
INSERT [dbo].[product] ([product_id], [product_name], [price], [imagepath], [category_id]) VALUES (11, N'watch', N'3456', N'/content/products/54f01233-72f8-47a6-9269-8e70eb5edbcb.jfif', 4)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password], [role]) VALUES (1, N'John Doe', N'john@example.com', N'123456', N'Admin')
INSERT [dbo].[Users] ([id], [name], [email], [password], [role]) VALUES (5, N'priya', N'priya@123.com', N'321', N'user')
INSERT [dbo].[Users] ([id], [name], [email], [password], [role]) VALUES (7, N'sandeep yadav', N'sandeepyadavji630@gmail.com', N'123', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_category]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_category]
@category_id int =null,
@category_name varchar(100)=null,
@imagepath varchar(100)=null,
@action int=0
as
begin
if(@action=1)
begin
insert into category (category_name,imagepath) values(@category_name,@imagepath)
end
if(@action=2)
begin
select * from category 
end
 IF(@action = 3)
    BEGIN
        UPDATE category
        SET category_name = @category_name,
            imagepath = @imagepath
        WHERE category_id = @category_id
    END

    IF(@action = 4)
    BEGIN
        DELETE FROM Category WHERE category_id = @category_id
    END

    IF(@action = 5)
    BEGIN
        SELECT * FROM Category WHERE category_id = @category_id
    END
end
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_login]
@email varchar(100)=null,
@password varchar(100)=null
as
begin
select * from Login where email=@email and password=@password
end
GO
/****** Object:  StoredProcedure [dbo].[sp_product]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_product]
@product_id int =null,
@product_name varchar(100)=null,
@price varchar(100)=null,
@imagepath varchar(100)=null,
@category_id int=null,
@action int=0
as
begin
if(@action=1)
begin
insert into product (product_name,price,imagepath,category_id) values(@product_name,@price,@imagepath,@category_id)
end
if(@action=2)
begin

select * from product left join category on product.category_id=category.category_id
end
if(@action=3)
begin
select * from product where category_id=@category_id
end
IF(@action = 4)
BEGIN
    UPDATE product
    SET product_name = @product_name,
        price = @price,
        imagepath = @imagepath,
        category_id = @category_id
    WHERE product_id = @product_id
END

IF(@action = 5)
BEGIN
    DELETE FROM product WHERE product_id = @product_id
END

IF(@action = 6)
BEGIN
    SELECT * FROM product WHERE product_id = @product_id
END


end

GO
/****** Object:  StoredProcedure [dbo].[sp_Users]    Script Date: 3/7/2026 4:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Users]
@name varchar(100)=null,
@email varchar(100)=null,
@password varchar(100)=null,
@role varchar(100)=null,
@action int =0
as
 begin
 if(@action=1)
 begin
 insert into Users (name,email,password,role) values(@name,@email,@password,@role)
 insert into login (email,password,role) values(@email,@password,@role)
 end
 if(@action=2)
 begin
 select * from Users where email=@email
 end
 if(@action=3)
 begin
 update Users set name=@name,email=@email where email=@email
 update login set email=@email
 end
 if(@action=4)
 begin
 delete from Users where email=@email
 delete from login where email=@email
 end
 IF @action = 5
BEGIN
    SELECT name, email, role ,password FROM Users
END

IF @action = 6
BEGIN
    UPDATE Users
    SET name = @name,
        role = @role
    WHERE email = @email
END

IF @action = 7
BEGIN
    DELETE FROM Users WHERE email = @email
END
 end
 
GO
USE [master]
GO
